VisualStudio/.vs/
VisualStudio/TabletopSimulatorModHelper.App/bin/
VisualStudio/TabletopSimulatorModHelper.App/obj/
VisualStudio/TabletopSimulatorModHelper.Tests/bin/
VisualStudio/TabletopSimulatorModHelper.Tests/obj/
VisualStudio/TabletopSimulatorModHelper/bin/
VisualStudio/TabletopSimulatorModHelper/obj/
